{% extends 'layout.html' %}
{% block content %}





<div class="listBox">
    <h1>{{ content.title }}</h1>
    <p class="colDefault">
        作者：<span class="colInfo">{{ content.user.username }}</span>
        时间：<span class="colInfo">{{content.addTime | date('Y-m-d H:i:s',-60 * 8)}}</span>
        阅读：<span class="colInfo">{{ content.views }}</span>
        评论：<span class="colInfo">{{ content.comments.length }}</span>
    </p>
    <dfn><p>{{ content.content }}</p></dfn>
</div>

<div class="listBox message">
    <h3 class="textLeft"><strong>评论</strong> <span class="em">一共有 <em id="messageCount">0</em> 条评论</span></h3>
    {% if userInfo._id %}
    <p class="textLeft">{{userInfo.username}}</p>
    <p class="textLeft clear">
        <textarea name="" id="messageContent"></textarea>
        <input type="hidden" id="contentId" value="{{ content.id}}">
        <button id="submit">提交</button>
    </p>
    {% else %}
     <p class="dbDanger">还没有登录，请先登录</p>
    {% endif %}
    <div class="messageList">

    </div>

    <nav class="pager">
        <ul class="pager">
            <li class="previous"> 上一页</li>
            <li></li>
            <li class="next">下一页</li>
        </ul>
    </nav>

</div>



<!--
<div class="listBox">
    <ul class="clear">
        <li class="previous">
            {% if page <= 1 %}
            <a href="javascript:;">没有上一页了</a>
            {% else %}
            <a href="/?category={{category}}&page={{ page - 1 }}">上一页</a>
            {% endif %}
        </li>
        <li>{% if pages > 0 %}<strong>{{page}}/{{pages}}</strong>{% endif  %}</li>
        <li class="next">
            {% if page >= pages %}
            <a href="javascript:;">没有下一页了</a>
            {% else %}
            <a href="/?category={{category}}&page={{ page + 1 }}">下一页</a>
            {% endif %}
        </li>
    </ul>
</div>-->

{% endblock %}